body{
    font-family: $fuentePrincipal;
}

.nav.link,
.nav-link.active{
    color: $color-primario;

    &:hover{
        color: $color-secundario;
    }
}

.navbar-toggler{
    border-color:$color-secundario ;
}

/*Extends*/
.portfolio { 
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    @extend .portfolio;
}

.contact-section {
    @extend .portfolio;
    width: 100vw;
    background-color: #191c32;
    color: #fff;
  }

