body{
    font-family: $fuentePrincipal;
}

.nav.link,
.nav-link.active{
    color: $color-primario;

    &:hover{
        color: $color-secundario;
    }
}

.navbar-toggler{
    border-color:$color-secundario ;
}